<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <div class="navbar-header">
    <a class="navbar-brand my-2 my-lg-15" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/STC_line_A_icon.png" width="30" height="30" class="d-inline-block align-top mr-sm-2" alt="">
        <span class="title-css"> Applications management</span>
      </a>
    </div>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" >
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/apps">Apps </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-css my-5 my-sm-0" type="submit">Search</button>
      </form>
     </div>
  
</nav>
